//匯入共同設定
@import "setting";
@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 自訂義mixin===========================================================
//section 主標題設定--------------------------
@mixin titleBox($align: center) {
  @include wrap(1200px, 0, 0, center);
  display: flex;
  flex-direction: column;
  align-items: $align;
  gap: 0.5rem;
  padding-bottom: clamp(20px, 5%, 40px);

  h2.titleSize {
    position: relative;
    font-size: $h2Size;
    color: $mainColor;
    text-transform: uppercase;
    font-family: $thirdFont;
    @include calcLetterSpacing($h2Size, 50);

    @include pseudoBefore("＂", absolute) {
      color: $mainColor;
      font-size: $h2SizeSmall;
      top: -20px;
      @if $align == center {
        left: 50%;
        transform: translateX(-50%);
      } @else if $align == flex-start {
        left: 0;
      }
    }
  }

  h2.titleSizeSmall {
    font-size: $h2SizeSmall;
    color: $secondColor;
    font-family: $thirdFont;
    @include calcLetterSpacing($h2SizeSmall, 20);
  }

  p {
    padding: 10px 0;
    color: $textColor;
    font-size: $textTitleSizeMedium;
    text-align: center;
    @include calcLetterSpacing($textTitleSizeMedium, 20);
    line-height: calc($textTitleSizeMedium * 1.5);
  }

  // RWD
  @include media($breakpointSmall) {
    h2.titleSize {
      font-size: $h3Size;
    }
    h2.titleSizeSmall {
      font-size: $h3SizeSmall;
    }
    p {
      font-size: $textTitleSizeSmall;
    }
  }
}
//learn more按鈕------------------------------
@mixin moreButton(
  $bgColor: $btnColor,
  $textColor: $btnBgColor,
  $arrowColor: $btnBgColor,
  $hoverBgColor: $btnBgColor,
  $hoverTextColor: $bgColor,
  $hoverArrowColor: $bgColor
) {
  width: 275px;
  padding: 20px 0;
  margin-top: 1rem;
  color: $textColor;
  cursor: pointer;
  position: relative;
  text-align: center;
  background-color: $bgColor;
  transition: all 0.3s ease;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%, 0 40%);

  p {
    font-size: $textTitleSizeMedium;
    font-family: $thirdFont;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s ease;

    // 箭頭樣式
    @include pseudoAfter("", absolute) {
      width: 10px;
      height: 10px;
      border: solid $arrowColor;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg) translateY(-50%);
      top: 50%;
      right: 40px;
      transition: border-color 0.3s ease;
    }
  }

  // Hover 效果
  @include hover {
    background-color: $hoverBgColor;
    color: $hoverTextColor;

    p {
      color: $hoverTextColor;

      @include pseudoAfter("", absolute) {
        border-color: $hoverArrowColor;
      }
    }
  }

  // RWD：螢幕小於 430px 時的樣式
  @include media($breakpointSmall) {
    width: 180px;
    padding: 12px 0;

    p {
      font-size: $textTitleSizeSmall;

      @include pseudoAfter("", absolute) {
        right: 20px;
      }
    }
  }
}

//section .wrap PaddingTopBottom--------------------------
@mixin sectionPadding {
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
}
@mixin boxShadow() {
  box-shadow: 0px 0px 10px 0px $lineColor;
}
//items +1 會比較好
@mixin opacityAnimation(
  $animationName,
  $duration: 1s,
  $count: infinite,
  $timing: ease-in-out,
  $alternate: alternate,
  $items: 4,
  $delayStep: 0.2s
) {
  animation: $animationName $duration $count $timing $alternate;

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-delay: ($i - 1) * $delayStep;
    }
  }
}
//動畫效果===========================================================
@keyframes opacityChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//header===============================================================
header {
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  @extend %ts; //transition: all 0.5s ease-in-out;

  .wrap {
    @include wrap(1700px, 50px, 50px, center);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoBox {
      a {
        width: 142px;
        img {
          @include imgContain();
        }
      }
    }
    .navBox {
      ul {
        display: flex;
        li {
          width: 100%;
          list-style: none;
          a {
            padding: 5vh 2vh;
            text-decoration: none;
            color: $thirdColor;
            font-size: $textTitleSizeMedium;
            @include calcLetterSpacing($textTitleSizeMedium, 100);
            //底線
            position: relative;
            @include pseudoAfter("", absolute) {
              content: "";
              width: 0%;
              height: 2px;
              background-color: $thirdColor;
              bottom: 2.5vh;
              left: 50%;
              transform: translateX(-50%);
              @extend %ts;
            }
            //hover效果
            @include hover {
              @include pseudoAfter("", absolute) {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .rightBox {
      display: flex;
      align-items: center;
      gap: 20px;
      .languageBox {
        .defaultBox {
          padding: 5vh 0;
          display: flex;
          align-items: center;
          font-size: $textTitleSizeMedium;
          font-family: $thirdFont;
          color: $thirdColor;
          .languageCurrent {
            text-transform: uppercase;
            position: relative;
            margin: 0 20px 0 10px;
            cursor: pointer;
            @include calcLetterSpacing($textTitleSizeMedium, 50);
            @include pseudoAfter(" |", absolute) {
              margin-left: 10px;
              font-weight: 200;
            }
          }
        }
        ul.languageList {
          display: none;
          position: absolute;
          background-color: $secondColor;
          @include wrap(100px, 0, 0, center);
          li {
            list-style: none;
            text-align: center;
            a {
              display: block;
              width: 100%;
              padding: 10px 0;
              text-decoration: none;
              color: $thirdColor;
              font-size: $textTitleSizeMedium;
              font-family: $thirdFont;
            }
          }
        }
      }
      .menuBtnBox {
        display: none;
        .menuBtn {
          width: 25px;
          height: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
          .line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $thirdColor;
          }
        }
      }
    }
    //RWD=============================
    @include media(1275) {
      .navBox {
        display: none;
      }
      .rightBox {
        .menuBtnBox {
          display: block;
        }
      }
    }
    @include media(460) {
      --h: 30px;
      padding-top: var(--h);
      padding-bottom: var(--h);
      .rightBox {
        .languageBox {
          display: none;
        }
      }
    }
  }
}
//滾動時header變色
header.scrolled {
  background-color: $mainColor;
}

//banner===============================================================
.bannerArea {
  position: relative;
  .bannerSlider {
    .bannerItem {
      position: relative;
      img.bg {
        @include imgCover();
        min-height: 500px;
      }
      .textBox {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
        @include wrap(1200px, 0, 0, center);
        padding-top: 8vh;
        padding-bottom: 20vh;
        h3 {
          font-size: $h3SizeMedium;
          color: $thirdColor;
          font-family: $secondFont;
          font-weight: normal;
        }
        div.more {
          @extend %ts;
          @include moreButton(
            $btnColor,
            $btnBgColor,
            $btnBgColor,
            $btnBgColor,
            $btnColor,
            $btnColor
          );
        }
        //RWD=============================
        @include media(1536) {
          padding-top: 10vh;
          padding-bottom: 10vh;
          img {
            height: 110px;
          }
          h3 {
            font-size: $h3SizeSmall;
          }
        }
        @include media(960) {
          img {
            // display: none;
            width: 70%;
            height: auto;
          }
        }
        @include media($breakpointSmall) {
          gap: 10px;
        }
        @include media(430) {
          h3 {
            font-size: $h5SizeMedium;
          }
        }
      }
      .playBox {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: end;
        cursor: pointer;
        @include wrap(1200px, 0, 0, center);
        .playBtn {
          display: flex;
          align-items: center;
          gap: 15px;
          p {
            color: $btnColor;
            font-size: $textTitleSize;
            font-family: $thirdFont;
          }
          .circle {
            display: block;
            --cw: 40px;
            width: var(--cw);
            height: var(--cw);
            border-radius: 40px;
            border: solid $btnColor;
            position: relative;
            //三角形
            @include pseudoAfter("", absolute) {
              content: "";
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 8px solid $btnBgColor;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        //RWD=============================
        @include media($breakpointSmall) {
          bottom: 30px;
        }
      }
    }
  }
  //滑鼠滾動按鈕
  .scrolldownBox {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    .arrowDown {
      display: block;
      --w: 10px;
      width: var(--w);
      height: var(--w);
      border: solid $thirdColor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      //動畫效果
      @include opacityAnimation(
        opacityChange,
        1.2s,
        infinite,
        ease-in-out,
        alternate,
        5,
        0.2s
      );
    }
    //RWD=============================
    @include media($breakpointSmall) {
      bottom: 10px;
      gap: 3px;
      img {
        width: 20px;
      }
      .arrowDown {
        --w: 8px;
      }
    }
  }
}
//main===============================================================
main {
  // MIT專業橡膠球製造工廠--------------------------------------------
  section.factory {
    // min-height: 90vh;
    background-image: url(../img/factoryBg.png);
    background-size: cover;
    background-position: center;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      @include sectionPadding;
      .topBox {
        @include titleBox(center);
      }
      .bottomBox {
        @include wrap(1500px, 0, 0, center);
        .factoryInfo {
          width: 100%;
          height: 450px;
          display: flex;
          justify-content: space-between;
          align-items: start;

          .factoryItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-family: $mainFont;
            .iconBox {
              margin-top: 20px;
              position: relative;
              --w: 184px;
              width: var(--w);
              height: var(--w);
              background-color: $thirdColor;
              border-radius: 50%;
              @include boxShadow();
              z-index: 1;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              h3.iconNumber {
                z-index: 2;
                position: absolute;
                top: calc(var(--h3IconSize) / 2 * -1);
                left: 50%;
                transform: translateX(-50%);
                color: $mainColor;
                font-size: $h3Size;
                font-family: $thirdFont;
                @extend %ts;
                //=====
                --h3IconSize: 60px;
                width: var(--h3IconSize);
                height: var(--h3IconSize);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
              }
              //hover效果 虛線
              @include pseudoAfter("", absolute) {
                @extend %ts;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 110%;
                height: 110%;
                border: 5px dotted $mainColor;
                opacity: 0;
                border-radius: 50%;
              }
            }
            .itemText {
              text-align: center;
              width: 250px;
              h4 {
                font-size: $h4SizeSmall;
                @include calcLetterSpacing($h4SizeSmall, 20);
                span {
                  color: $mainColor;
                }
              }
              p {
                height: 90px; //限制高度(讓每一個factoryItem的高度一致)
                color: $textColor;
                font-size: $textTitleSizeMedium;
                @include calcLetterSpacing($textTitleSizeMedium, 20);
              }
            }
            @include hover {
              .iconBox {
                h3.iconNumber {
                  color: $thirdColor;
                  background-color: $mainColor;
                }
                &::after {
                  opacity: 1;
                }
              }
            }
          }
        }
        //RWD=============================
        @include media($defaultWidth) {
          .factoryInfo {
            .factoryItem {
              width: 100%;
              .iconBox {
                --w: 140px;
              }
              .itemText {
                // width: 100%;
                h4 {
                  font-size: $h5Size;
                }
                p {
                  font-size: $h5SizeSmall;
                }
              }
            }
          }
        }
        //slick=============================
        .slick-list {
          width: inherit;
          height: inherit;
          .slick-track {
            height: inherit;
            position: relative;
            .slick-slide {
              // margin-top: 20px;
            }
            .slick-slide:nth-child(odd) {
              height: inherit;
              display: flex;
              justify-content: flex-end;
              //RWD==
              @include media(1200) {
                justify-content: center;
              }
            }
          }
        }
        //RWD===slick dots==================
        @include media(1200) {
          .factoryInfo {
            flex-direction: column;
            align-items: center;
            height: 300px;
            .slick-list {
              width: 100%;
            }
            .slick-dots {
              display: flex;
              justify-content: center;
              gap: 10px;
              li {
                list-style: none;
                button {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: $thirdColor;
                  border: 2px solid $mainColor;
                  cursor: pointer;
                  font-size: 0; //隱藏數字
                }
                &.slick-active button {
                  background-color: $mainColor;
                }
              }
            }
          }
        }
      }
    }
  }
  //產品系列---------------------------------------------------------
  section.product {
    background-image: url(../img/productBg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    .wrap {
      @include wrap(1700px, 100px, 100px, center);
      @include sectionPadding;
      display: flex;
      align-items: end;
      justify-content: space-between;
      // gap: 50px;
      .leftBox {
        width: clamp(370px, 50%, 50%);
        display: flex;
        flex-direction: column;
        .topBox {
          // width: calc(400px + 330px);
          margin-bottom: 30px;
          .titleBox {
            @include titleBox(flex-start);
            padding: 0;
            h2.titleSizeSmall,
            p {
              color: $thirdColor;
              text-align: left;
            }
          }
          .other {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div.more {
              @include moreButton(
                $btnBgColor,
                $btnColor,
                $btnColor,
                $btnColor,
                $btnBgColor,
                $btnBgColor
              );
            }
            // slickNumber
            .slickNumberBox {
              display: flex;
              align-items: end;
              font-family: $thirdFont;
              .currentTxt {
                color: $thirdColor;
                font-size: $titleSizeSmall;
                @include calcLetterSpacing($titleSizeSmall, 20);
              }
              .totalTxt {
                padding-left: calc($textTitleSize / 2);
                color: $textColor;
                font-size: $textTitleSize;
                @include calcLetterSpacing($textTitleSize, 20);
              }
            }
          }
        }
        .bottomBox {
          width: 100%;
          --ballSamllW: 330px;
          .ballSlider {
            //輪播項目
            .ball {
              width: var(--ballSamllW);
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                width: var(--ballSamllW);
                display: block;
                text-decoration: none;
                figure {
                  background-color: white;
                  position: relative;
                  width: var(--ballSamllW);
                  height: var(--ballSamllW);
                  img {
                    @include imgCover();
                  }
                  i {
                    display: block;
                    font-style: normal;
                    color: $thirdColor;
                    font-family: $mainFont;
                    font-size: $decoTitleSize;
                    @include calcLetterSpacing($decoTitleSize, 20);
                    position: relative;
                    //底部矩形
                    @include pseudoBefore("", absolute) {
                      content: "";
                      width: 120px;
                      height: 40px;
                      bottom: -10px;
                      right: 30px;
                      background-color: $mainColor;
                      transform: skew(-30deg);
                    }
                    //文字
                    @include pseudoAfter("健身用途", absolute) {
                      width: 120px;
                      height: 40px;
                      bottom: -10px;
                      right: 30px;
                      font-size: $dataTextSize;
                      line-height: 40px;
                      text-align: center;
                    }
                  }
                }
                .ballInfo {
                  color: $thirdColor;
                  font-family: $mainFont;
                  margin-top: 20px;
                  h4 {
                    text-transform: uppercase;
                    font-family: $thirdFont;
                    font-size: $h4SizeSmall;
                    font-weight: normal;
                    @include calcLetterSpacing($h4SizeSmall, 50);
                  }
                  p {
                    padding-top: 5px;
                    font-size: $textTitleSizeSmall;
                    @include calcLetterSpacing($textTitleSizeSmall, 20);
                  }
                }
              }
            }
          }
        }
      }
      .rightBox {
        --ballW: 600px;
        width: 50%;
        padding: 50px;
        margin-left: 50px;
        position: relative;
        .ballSliderRight {
          //輪播項目
          .ball {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--ballW);
            clip-path: polygon(0% 0%, 100% 0, 100% 85%, 85% 100%, 0% 100%);
            a {
              width: var(--ballW);
              display: flex;
              text-decoration: none;
              figure {
                background-color: #fff;
                position: relative;
                width: var(--ballW);
                height: var(--ballW);
                overflow: hidden;
                img {
                  @include imgCover();
                }
                i {
                  display: block;
                  font-style: normal;
                  color: $thirdColor;
                  font-family: $mainFont;
                  font-size: $decoTitleSize;
                  @include calcLetterSpacing($decoTitleSize, 20);
                  position: relative;
                  top: -90%;
                  //底部矩形
                  @include pseudoBefore("", absolute) {
                    content: "";
                    width: 120px;
                    height: 40px;
                    bottom: -10px;
                    right: 30px;
                    background-color: $mainColor;
                    transform: skew(-30deg);
                  }
                  //文字
                  @include pseudoAfter("健身用途", absolute) {
                    width: 120px;
                    height: 40px;
                    bottom: -10px;
                    right: 30px;
                    font-size: $dataTextSize;
                    line-height: 40px;
                    text-align: center;
                  }
                }
                .ballInfo {
                  color: $secondColor;
                  font-family: $mainFont;
                  margin-top: 20px;
                  position: absolute;
                  bottom: 20px;
                  left: 20px;
                  width: 80%;
                  h4 {
                    text-transform: uppercase;
                    font-family: $thirdFont;
                    font-size: $h4SizeSmall;
                    font-weight: normal;
                    @include calcLetterSpacing($h4SizeSmall, 50);
                  }
                  p {
                    padding-top: 5px;
                    font-size: $textTitleSizeSmall;
                    @include calcLetterSpacing($textTitleSizeSmall, 20);
                  }
                }
              }
            }
          }
        }
        //背景圖
        @include pseudoBefore("", absolute) {
          content: "";
          width: calc(var(--ballW) + 50px);
          height: calc(var(--ballW) + 50px);
          background-image: url(../img/ballBg.png);
          background-size: cover;
          background-position: center;
          z-index: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    // slickBall main btn
    .ballSliderBtnBox {
      padding: 0 2vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      button {
        background-color: tansparent;
        border: none;
        cursor: pointer;
        position: relative;
        width: 60px;
        @include hover {
          @include pseudoBefore("", absolute) {
            opacity: 1;
          }
        }
      }
      .ballSliderPrev {
        @include pseudoBefore("", absolute) {
          content: "";
          --arrowPrevW: 30px;
          width: var(--arrowPrevW);
          height: var(--arrowPrevW);
          border: solid $thirdColor;
          border-width: 0 4px 4px 0;
          opacity: 0.5;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(135deg);
          @extend %ts;
        }
      }
      .ballSliderNext {
        @include pseudoBefore("", absolute) {
          content: "";
          --arrowNextW: 30px;
          width: var(--arrowNextW);
          height: var(--arrowNextW);
          border: solid $thirdColor;
          border-width: 0 4px 4px 0;
          opacity: 0.5;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          @extend %ts;
        }
      }
    }
    //RWD=============================
    @include media(1700) {
      .wrap {
        justify-content: center;
        .rightBox {
          transform: scale(0.8);
          margin-left: 0px;
          padding: 0px;
          .ballSliderRight {
            padding: 0;
          }
        }
      }
    }
    @include media(1560) {
      .wrap {
        .leftBox {
          .bottomBox {
            --ballSamllW: 270px;
          }
        }
        .rightBox {
          width: 50%;
          transform: scale(0.7);
        }
      }
    }
    @include media(1350) {
      .wrap {
        padding-bottom: 150px;
        .leftBox {
          width: 100%;
        }
        .rightBox {
          display: none;
        }
      }
      .ballSliderBtnBox {
        display: flex;
        gap: 10px;
        width: 200px;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        button {
          position: relative;
          --sliderBtnWidth: 70px;
          width: var(--sliderBtnWidth);
          height: var(--sliderBtnWidth);
        }
        .ballSliderPrev {
          background-color: $btnColor;
          border: 1px solid $btnBgColor;
          @include pseudoBefore("", absolute) {
            content: "";
            --arrowPrevW: 10px;
            width: var(--arrowPrevW);
            height: var(--arrowPrevW);
            border: solid $btnBgColor;
            border-width: 0 4px 4px 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
            opacity: 1;
          }
          @include hover {
            background-color: $btnBgColor;
            border: 1px solid $btnColor;
            @include pseudoBefore("", absolute) {
              border: solid $btnColor;
              border-width: 0 4px 4px 0;
            }
          }
        }
        .ballSliderNext {
          background-color: $btnBgColor;
          border: 1px solid $btnColor;
          @include pseudoBefore("", absolute) {
            content: "";
            --arrowNextW: 10px;
            width: var(--arrowNextW);
            height: var(--arrowNextW);
            border: solid $btnColor;
            border-width: 0 4px 4px 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            opacity: 1;
          }
          @include hover {
            background-color: $btnColor;
            border: 1px solid $btnBgColor;
            @include pseudoBefore("", absolute) {
              border: solid $btnBgColor;
              border-width: 0 4px 4px 0;
            }
          }
        }
      }
    }
    @include media(600) {
      .wrap {
        .leftBox {
          .bottomBox {
            --ballSamllW: 300px;
          }
        }
      }
    }
  }
  //服務項目---------------------------------------------------------
  section.service {
    background-image: url(../img/serviceBg.png);
    background-size: cover;
    background-position: center;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      @include sectionPadding;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .topBox {
        @include titleBox(center);
      }
      .bottomBox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5%;
        .serviceItem {
          padding: 20px 0;
          width: 460px;
          figure {
            width: 432px;
            height: 260px;
            img {
              @include imgCover();
            }
          }
          article {
            display: flex;
            align-items: center;
            width: inherit; //繼承父元素寬度
            position: relative;
            //矩形
            @include pseudoAfter("", absolute) {
              content: "";
              left: 20px;
              width: 90%;
              height: 200px;
              background-color: $thirdColor;
              transform: skew(-10deg);
              opacity: 0.9;
              z-index: 1;
              @extend %ts;
            }
            h2.ItemNb {
              color: $mainColor;
              font-family: $thirdFont;
              font-size: 100px;
              font-weight: normal;
              z-index: 2;
            }
            .textBox {
              font-family: $mainFont;
              z-index: 2;
              padding: 0 20px;
              width: 70%;
              h4 {
                font-size: $h4SizeSmall;
                @include calcLetterSpacing($h4SizeSmall, 20);
              }
              p {
                color: $textColor;
                font-size: $textTitleSizeMedium;
                @include calcLetterSpacing($textTitleSizeMedium, 20);
              }
            }
          }
          //hover效果
          @include hover {
            article {
              @include pseudoAfter("", absolute) {
                @include boxShadow();
              }
            }
          }
        }
        //RWD=============================
        @include media($breakpointSmall) {
          flex-direction: column;
          .serviceItem {
            width: 320px;
            figure {
              width: 320px;
              height: calc(320px / 1.65);
            }
            article {
              @include pseudoAfter("", absolute) {
                height: 170px;
              }
              h2.ItemNb {
                font-size: 80px;
              }
              .textBox {
                width: 80%;
                h4 {
                  font-size: $h5Size;
                }
                p {
                  font-size: $dataTextSizeSmall;
                }
              }
            }
          }
        }
      }
      div.more {
        @include moreButton(
          $btnBgColor,
          $btnColor,
          $btnColor,
          $btnColor,
          $btnBgColor,
          $btnBgColor
        );
      }
    }
  }
  //球類百科---------------------------------------------------------
  section.ballEncyclopedia {
    background-color: $thirdColor;
    .wrap {
      @include wrap(1500px, 50px, 50px, center);
      @include sectionPadding;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .leftBox {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .topBox {
          @include titleBox(flex-start);
          margin: 0;
        }
        .bottomBox {
          .sliderBtnBox {
            display: flex;
            gap: 10px;
            button {
              position: relative;
              --sliderBtnWidth: 70px;
              width: var(--sliderBtnWidth);
              height: var(--sliderBtnWidth);
              cursor: pointer;
              @extend %ts;
            }
            .sliderPrev {
              background-color: $btnColor;
              border: 1px solid $btnBgColor;
              @include pseudoBefore("", absolute) {
                content: "";
                --arrowPrevW: 10px;
                width: var(--arrowPrevW);
                height: var(--arrowPrevW);
                border: solid $btnBgColor;
                border-width: 0 4px 4px 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
              }
              @include hover {
                background-color: $btnBgColor;
                border: 1px solid $btnColor;
                @include pseudoBefore("", absolute) {
                  border: solid $btnColor;
                  border-width: 0 4px 4px 0;
                }
              }
            }
            .sliderNext {
              background-color: $btnBgColor;
              border: 1px solid $btnColor;
              @include pseudoBefore("", absolute) {
                content: "";
                --arrowNextW: 10px;
                width: var(--arrowNextW);
                height: var(--arrowNextW);
                border: solid $btnColor;
                border-width: 0 4px 4px 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
              }
              @include hover {
                background-color: $btnColor;
                border: 1px solid $btnBgColor;
                @include pseudoBefore("", absolute) {
                  border: solid $btnBgColor;
                  border-width: 0 4px 4px 0;
                }
              }
            }
          }
          div.more {
            @include moreButton(
              $btnBgColor,
              $btnColor,
              $btnColor,
              $btnColor,
              $btnBgColor,
              $btnBgColor
            );
          }
        }
      }
      .rightBox {
        width: 850px;
        .newSlider {
          .slick-list {
            .slick-track {
              .newItem {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: clamp(20px, 5%, 40px);
                background-color: $thirdColor;
                padding: 40px;
                position: relative;
                //框陰影
                @include pseudoAfter("", absolute) {
                  content: "";
                  width: calc(100% - 10px);
                  height: calc(100% - 10px);
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  border-bottom: #b5b5b5 3px solid;
                  @extend %ts;
                }
                .newContent {
                  .newTitle {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 15px;
                    .newDateBox {
                      display: flex;
                      gap: 10px;
                      font-family: $thirdFont;
                      h2 {
                        font-size: $titleSize;
                        font-weight: normal;
                        line-height: $titleSize;
                      }
                      h5 {
                        font-size: $h5Size;
                        font-weight: normal;
                        @include calcLetterSpacing($h5Size, 20);
                        position: relative;
                        @include pseudoAfter("", absolute) {
                          content: "";
                          width: 120%;
                          height: 2px;
                          bottom: 0;
                          left: 50%;
                          transform: translateX(-50%);
                          background-color: $secondColor;
                        }
                      }
                    }
                    i.newTag {
                      display: block;
                      font-style: normal;
                      background-color: #ededed;
                      padding: 8px 15px;
                      color: $textColor;
                      font-family: $mainFont;
                      font-size: $dataTextSizeMedium;
                      @include calcLetterSpacing($dataTextSizeMedium, 100);
                    }
                  }
                  .newInfo {
                    font-family: $mainFont;
                    width: 100%;
                    h4 {
                      color: $secondColor;
                      font-size: $h4SizeSmall;
                      @include calcLetterSpacing($h4SizeSmall, 50);
                      padding-bottom: 5px;
                      @extend %ts;
                    }
                    p {
                      color: $textColor;
                      font-size: $textTitleSizeMedium;
                      @include calcLetterSpacing($textTitleSizeMedium, 20);
                    }
                  }
                }
                .arrowBox {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  gap: 5px;
                  .arrowR {
                    display: block;
                    --arrowRW: 12px;
                    width: var(--arrowRW);
                    height: var(--arrowRW);
                    border: solid $mainColor;
                    border-width: 0 4px 4px 0;
                    transform: rotate(-45deg);
                    @include opacityAnimation(
                      opacityChange,
                      1s,
                      infinite,
                      ease-in-out,
                      alternate,
                      4,
                      0.2s
                    );
                  }
                }
                @extend %ts;
                //hover效果
                @include hover {
                  //框陰影
                  @include pseudoAfter("", absolute) {
                    @include boxShadow();
                  }
                  .newContent {
                    .newInfo {
                      h4 {
                        color: $mainColor;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      //RWD=============================
      @include media(1300) {
        .rightBox {
          width: 700px;
          .newSlider {
            .slick-list {
              .slick-track {
                .newItem {
                  .newContent {
                    .newTitle {
                      .newDateBox {
                        h2 {
                          font-size: $h3Size;
                        }
                        h5 {
                          font-size: $h5SizeSmall;
                        }
                      }
                      i.newTag {
                        font-size: $dataTextSizeSmall;
                      }
                    }
                    .newInfo {
                      h4 {
                        font-size: $h4Size;
                      }
                      p {
                        font-size: $textTitleSizeSmall;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @include media(1150) {
        justify-content: center;
        .leftBox {
          justify-content: center;
          height: 400px;
          .topBox {
            @include titleBox(center);
          }
          .bottomBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            .sliderBtnBox {
              order: 1;
              margin-top: 20px;
            }
          }
        }
        .rightBox {
          width: 700px;
          .newSlider {
            .slick-list {
              .slick-track {
                .newItem {
                  .newContent {
                    .newTitle {
                      .newDateBox {
                        h2 {
                          font-size: $h3Size;
                        }
                        h5 {
                          font-size: $h5SizeSmall;
                        }
                      }
                      i.newTag {
                        font-size: $dataTextSizeSmall;
                      }
                    }
                    .newInfo {
                      h4 {
                        font-size: $h4Size;
                      }
                      p {
                        font-size: $textTitleSizeSmall;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @include media(710) {
        gap: 20px;
        .rightBox {
          width: 100%;
          .newSlider {
            .slick-list {
              .slick-track {
                .newItem {
                  .newContent {
                    .newTitle {
                      .newDateBox {
                        h2 {
                          font-size: $h3SizeSmall;
                        }
                        h5 {
                          font-size: $h5SizeSmall;
                        }
                      }
                      i.newTag {
                        font-size: $dataTextSizeSmall;
                      }
                    }
                    .newInfo {
                      h4 {
                        font-size: $h4SizeSmall;
                      }
                      p {
                        font-size: $textTitleSizeSmall;
                      }
                    }
                  }
                  .arrowBox {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//footer===============================================================
footer {
  width: 100%;
  background-color: $mainColor;
  color: $linkColor;
  .wrap {
    @include wrap(1700px, 50px, 50px, center);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 80px 0;
    .footerLogo {
      img {
        @include imgContain();
      }
    }
    .footerNav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $linkColor;
            font-size: $textTitleSizeMedium;
            padding: 0 5px;
            opacity: 0.8;
            @extend %ts;
            //增加分隔線
            @include pseudoAfter(" |", absolute) {
              margin-left: calc(3vw / 2);
            }
            @include hover {
              opacity: 1;
            }
          }
          // 移除最後一個分隔線
          &:last-child a::after {
            content: "";
          }
        }
      }
    }
    .footerInfo {
      ul {
        display: flex;
        gap: 3vw;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $linkColor;
            font-size: $textTitleSizeMedium;
            opacity: 0.8;
            @extend %ts;
            @include calcLetterSpacing($textTitleSizeMedium, 50);
            label {
              font-family: $thirdFont;
            }
            @include hover {
              opacity: 1;
            }
          }
        }
        //RWD=============================
        @include media(1100) {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .footerSocial {
      ul {
        display: flex;
        gap: 20px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $mainColor;
            font-size: $textTitleSizeMedium;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $linkColor;
            @extend %ts;
            @include hover {
              background-color: $mainColor;
              color: $linkColor;
              outline: $linkColor 2px solid;
            }
          }
        }
      }
    }
    .footerCopyright {
      font-size: $textTitleSizeMedium;
      font-family: $thirdFont;
      color: $linkColor;
      opacity: 0.8;
      @include calcLetterSpacing($textTitleSizeMedium, 50);
      a {
        text-decoration: none;
        color: $linkColor;
      }
    }
  }
}

//aside===============================================================
aside {
  position: fixed;
  top: 0;
  right: -100%; // 初始位置在視窗外
  z-index: 1000;
  height: 100vh;
  width: 375px;
  background-color: $mainColor;
  .topBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    img.logo {
      width: 100px;
    }
    i {
      color: $btnColor;
      font-size: 30px;
      cursor: pointer;
    }
  }
  nav {
    ul {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      li {
        list-style: none;
        a {
          display: block;
          padding: 15px 5vh;
          border-bottom: $thirdColor 1px solid;
          text-decoration: none;
          color: $linkColor;
          font-size: $textTitleSizeMedium;
          @include calcLetterSpacing($textTitleSizeMedium, 50);
        }
      }
    }
  }
  .bottomBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    .languageBox {
      padding-left: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .defaultBox {
        padding: 5vh 0;
        display: flex;
        align-items: center;
        font-size: $textTitleSizeMedium;
        font-family: $thirdFont;
        color: $thirdColor;
        .languageCurrent {
          text-transform: uppercase;
          position: relative;
          margin: 0 20px 0 10px;
          cursor: pointer;
          @include calcLetterSpacing($textTitleSizeMedium, 50);
          @include pseudoAfter(" |", absolute) {
            margin-left: 10px;
            font-weight: 200;
          }
        }
      }
      ul.languageList {
        display: none;
        // position: absolute;
        background-color: $secondColor;
        @include wrap(100px, 0, 0, center);
        li {
          list-style: none;
          text-align: center;
          a {
            display: block;
            width: 100%;
            padding: 10px 0;
            text-decoration: none;
            color: $thirdColor;
            font-size: $textTitleSizeMedium;
            font-family: $thirdFont;
          }
        }
      }
    }
  }
}
.assideBlack {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}
