//匯入共同設定
@import "setting";
@import "font";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  @extend %ts; //transition: all 0.5s ease-in-out;

  .wrap {
    @include wrap(1700px, 50px, 50px, center);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoBox {
      a {
        width: 142px;
        img {
          @include imgContain();
        }
      }
    }
    .navBox {
      ul {
        display: flex;
        gap: 2vw;
        li {
          list-style: none;
          a {
            padding: 6vh 0;
            text-decoration: none;
            color: $thirdColor;
            font-size: $textTitleSizeMedium;
            @include calcLetterSpacing($textTitleSizeMedium, 100);
          }
        }
      }
    }
    .rightBox {
      display: flex;
      align-items: center;
      gap: 20px;
      .languageBox {
        .defaultBox {
          padding: 6vh 0;
          display: flex;
          align-items: center;
          font-size: $textTitleSizeMedium;
          font-family: $thirdFont;
          color: $thirdColor;
          .languageCurrent {
            text-transform: uppercase;
            position: relative;
            margin: 0 20px 0 10px;
            cursor: pointer;
            @include calcLetterSpacing($textTitleSizeMedium, 50);
            @include pseudoAfter(" |", absolute) {
              margin-left: 10px;
              font-weight: 200;
            }
          }
        }
        ul.languageList {
          display: none;
          position: absolute;
          background-color: $secondColor;
          @include wrap(100px, 0, 0, center);
          li {
            list-style: none;
            padding: 10px 0;
            text-align: center;
            a {
              text-decoration: none;
              color: $thirdColor;
              font-size: $textTitleSizeMedium;
              font-family: $thirdFont;
            }
          }
        }
      }
      .menuBtnBox {
        display: none;
        .menuBtn {
          width: 25px;
          height: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          cursor: pointer;
          .line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $thirdColor;
          }
        }
      }
    }
    //RWD=============================
    @include media(1200) {
      .navBox {
        display: none;
      }
      .rightBox {
        .menuBtnBox {
          display: block;
        }
      }
    }
    @include media(460) {
      --h: 30px;
      padding-top: var(--h);
      padding-bottom: var(--h);
      .rightBox {
        .languageBox {
          display: none;
        }
      }
    }
  }
}

header.scrolled {
  background-color: $mainColor;
}
//learn more按鈕
div.more {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: $btnBgColor;
  cursor: pointer;
  position: relative;
  text-align: center;
  //矩形缺角
  background: linear-gradient(135deg, transparent 10px, $btnColor 0);
  p {
    font-size: $textTitleSizeMedium;
    font-family: $thirdFont;
    text-transform: uppercase;
    position: relative;
    //箭頭
    @include pseudoAfter("", absolute) {
      width: 10px;
      height: 10px;
      border: solid $btnBgColor;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg) translateY(-50%);
      top: 50%;
      right: 40px;
    }
  }
}
div.colorChange {
  color: $btnColor;
  background: linear-gradient(135deg, transparent 10px, $btnBgColor 0);
  @include pseudoAfter("", absolute) {
    width: 10px;
    height: 10px;
    border: solid $btnColor;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg) translateY(-50%);
    top: 50%;
    right: 40px;
  }
}

.bannerArea {
  position: relative;
  .bannerSlider {
    .bannerItem {
      position: relative;
      img.bg {
        @include imgCover();
        min-height: 500px;
      }
      .textBox {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
        @include wrap(1200px, 0, 0, center);
        padding-top: 8vh;
        padding-bottom: 20vh;
        h3 {
          font-size: $h3SizeMedium;
          color: $thirdColor;
          font-family: $secondFont;
          font-weight: normal;
        }
        //RWD=============================
        @include media(1536) {
          padding-top: 10vh;
          padding-bottom: 10vh;
          img {
            height: 110px;
          }
          h3 {
            font-size: $h3SizeSmall;
          }
        }
        @include media(960) {
          img {
            display: none;
          }
        }
        @include media(425) {
          h3 {
            font-size: $h3SizeSmall;
          }
          div.more {
            width: 200px;
            p {
              font-size: $textTitleSizeSmall;
            }
          }
        }
      }
      .playBox {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: end;
        cursor: pointer;
        @include wrap(1200px, 0, 0, center);
        .playBtn {
          display: flex;
          align-items: center;
          gap: 15px;
          p {
            color: $btnColor;
            font-size: $textTitleSize;
            font-family: $thirdFont;
          }
          .circle {
            display: block;
            --cw: 40px;
            width: var(--cw);
            height: var(--cw);
            border-radius: 40px;
            border: solid $btnColor;
            position: relative;
            //三角形
            @include pseudoAfter("", absolute) {
              content: "";
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 8px solid $btnBgColor;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
        //RWD=============================
        @include media(430) {
          bottom: 30px;
        }
      }
    }
  }
  //滑鼠滾動按鈕
  .scrolldownBox {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    .arrowDown {
      display: block;
      --w: 10px;
      width: var(--w);
      height: var(--w);
      border: solid $thirdColor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    //RWD=============================
    @include media(430) {
      gap: 3px;
      img {
        width: 20px;
      }
      .arrowDown {
        --w: 8px;
      }
    }
  }
}

//main section 主標題設定
section {
  .wrap {
    .titleBox {
      @include wrap(1200px, 0, 0, center);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 5%;
      h2.titleSize {
        position: relative;
        font-size: $h2Size;
        color: $mainColor;
        text-transform: uppercase;
        font-family: $thirdFont;
        @include calcLetterSpacing($h2Size, 50);
        @include pseudoBefore("＂", absolute) {
          color: $mainColor;
          font-size: $h2SizeSmall;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      h2.titleSizeSmall {
        font-size: $h2SizeSmall;
        color: $secondColor;
        font-family: $thirdFont;
        @include calcLetterSpacing($h2SizeSmall, 20);
      }
      p {
        padding: 10px 0;
        color: $textColor;
        font-size: $textTitleSizeMedium;
        text-align: center;
        @include calcLetterSpacing($textTitleSizeMedium, 20);
        line-height: calc($textTitleSizeMedium * 1.5);
      }
      //RWD=============================
      @include media($breakpointSmall) {
        h2.titleSize {
          font-size: $h3Size;
        }
        h2.titleSizeSmall {
          font-size: $h3SizeSmall;
        }
        p {
          font-size: $textTitleSizeSmall;
        }
      }
    }
  }
}

main {
  // MIT專業橡膠球製造工廠
  section.factory {
    // min-height: 90vh;
    background-image: url(../img/factoryBg.png);
    background-size: cover;
    background-position: center;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      padding-top: 5%;
      padding-bottom: 5%;
      .bottomBox {
        @include wrap(1500px, 0, 0, center);
        .factoryInfo {
          height: 450px;
          display: flex;
          justify-content: space-between;
          align-items: start;

          .factoryItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-family: $mainFont;
            .iconBox {
              margin-top: 20px;
              position: relative;
              --w: 184px;
              width: var(--w);
              height: var(--w);
              background-color: $thirdColor;
              border-radius: 50%;
              box-shadow: 0px 0px 10px 0px $textColor;
              z-index: 1;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              h3.iconNumber {
                z-index: 2;
                position: absolute;
                top: calc(var(--h3IconSize) / 2 * -1);
                left: 50%;
                transform: translateX(-50%);
                color: $mainColor;
                font-size: $h3Size;
                font-family: $thirdFont;
                @extend %ts;
                //=====
                --h3IconSize: 60px;
                width: var(--h3IconSize);
                height: var(--h3IconSize);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
              }
              //hover效果 虛線
              @include pseudoAfter("", absolute) {
                @extend %ts;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 110%;
                height: 110%;
                border: 5px dotted $mainColor;
                opacity: 0;
                border-radius: 50%;
              }
            }
            .itemText {
              text-align: center;
              width: 250px;
              h4 {
                font-size: $h4SizeSmall;
                @include calcLetterSpacing($h4SizeSmall, 20);
                span {
                  color: $mainColor;
                }
              }
              p {
                height: 90px; //限制高度(讓每一個factoryItem的高度一致)
                color: $textColor;
                font-size: $textTitleSizeMedium;
                @include calcLetterSpacing($textTitleSizeMedium, 20);
              }
            }
            @include hover {
              .iconBox {
                h3.iconNumber {
                  color: $thirdColor;
                  background-color: $mainColor;
                }
                &::after {
                  opacity: 1;
                }
              }
            }
          }
          .factoryItem:nth-child(odd) {
            align-self: flex-end;
          }
        }
        //RWD=============================
        @include media($defaultWidth) {
          .factoryInfo {
            .factoryItem {
              width: 100%;
              .iconBox {
                --w: 140px;
              }
              .itemText {
                width: 100%;
                h4 {
                  font-size: $h5Size;
                }
                p {
                  font-size: $h5SizeSmall;
                }
              }
            }
          }
        }
        //RWD===slick dots==================
        @include media(1200) {
          .factoryInfo {
            flex-direction: column;
            align-items: center;
            height: 300px;
            .slick-list {
              width: 100%;
            }
            .slick-dots {
              display: flex;
              justify-content: center;
              gap: 10px;
              li {
                list-style: none;
                button {
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background-color: $thirdColor;
                  border: 2px solid $mainColor;
                  cursor: pointer;
                  font-size: 0; //隱藏數字
                }
                &.slick-active button {
                  background-color: $mainColor;
                }
              }
            }
          }
        }
      }
      //RWD=============================
      @include media($breakpointSmall) {
        padding-top: 10%;
        padding-bottom: 10%;
      }
    }
  }
  //產品系列
  section.product {
    background-image: url(../img/productBg.png);
    background-size: cover;
    background-position: center;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }
  //服務項目
  section.service {
    background-image: url(../img/serviceBg.png);
    background-size: cover;
    background-position: center;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      padding-top: 5%;
      padding-bottom: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .bottomBox {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5%;
        .serviceItem {
          padding: 20px 0;
          width: 460px;
          figure {
            width: 432px;
            height: 260px;
            img {
              @include imgCover();
            }
          }
          article {
            display: flex;
            align-items: center;
            width: inherit; //繼承父元素寬度
            position: relative;
            //矩形
            @include pseudoAfter("", absolute) {
              content: "";
              left: 20px;
              width: 90%;
              height: 200px;
              background-color: $thirdColor;
              transform: skew(-10deg);
              opacity: 0.9;
              z-index: 1;
              @extend %ts;
            }
            h2.ItemNb {
              color: $mainColor;
              font-family: $thirdFont;
              font-size: 100px;
              font-weight: normal;
              z-index: 2;
            }
            .textBox {
              font-family: $mainFont;
              z-index: 2;
              padding: 0 20px;
              width: 70%;
              h4 {
                font-size: $h4SizeSmall;
                @include calcLetterSpacing($h4SizeSmall, 20);
              }
              p {
                color: $textColor;
                font-size: $textTitleSizeMedium;
                @include calcLetterSpacing($textTitleSizeMedium, 20);
              }
            }
          }
          //hover效果
          @include hover {
            article {
              @include pseudoAfter("", absolute) {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
              }
            }
          }
        }
        //RWD=============================
        @include media($breakpointSmall) {
          flex-direction: column;
          .serviceItem {
            width: 320px;
            figure {
              width: 320px;
              height: calc(320px / 1.65);
            }
            article {
              @include pseudoAfter("", absolute) {
                height: 170px;
              }
              h2.ItemNb {
                font-size: 80px;
              }
              .textBox {
                width: 80%;
                h4 {
                  font-size: $h5Size;
                }
                p {
                  font-size: $dataTextSizeSmall;
                }
              }
            }
          }
        }
      }
    }
  }
  //球類百科
  section.ballEncyclopedia {
    background-color: $thirdColor;
    .wrap {
      @include wrap(1700px, 50px, 50px, center);
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }
}

footer {
  width: 100%;
  background-color: $mainColor;
  color: $linkColor;
  .wrap {
    @include wrap(1700px, 50px, 50px, center);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 80px 0;
    .footerLogo {
      img {
        @include imgContain();
      }
    }
    .footerNav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3vw;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $linkColor;
            font-size: $textTitleSizeMedium;
            padding: 0 5px;
            //增加分隔線
            @include pseudoAfter(" |", absolute) {
              margin-left: calc(3vw / 2);
            }
          }
          // 移除最後一個分隔線
          &:last-child a::after {
            content: "";
          }
        }
      }
    }
    .footerInfo {
      ul {
        display: flex;
        gap: 3vw;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $linkColor;
            font-size: $textTitleSizeMedium;
            @include calcLetterSpacing($textTitleSizeMedium, 50);
            label {
              font-family: $thirdFont;
            }
          }
        }
        //RWD=============================
        @include media(1100) {
          flex-direction: column;
          align-items: center;
          gap: 20px;
        }
      }
    }
    .footerSocial {
      ul {
        display: flex;
        gap: 20px;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $mainColor;
            font-size: $textTitleSizeMedium;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $linkColor;
          }
        }
      }
    }
    .footerCopyright {
      font-size: $textTitleSizeMedium;
      font-family: $thirdFont;
      color: $linkColor;
      @include calcLetterSpacing($textTitleSizeMedium, 50);
      a {
        text-decoration: none;
        color: $linkColor;
      }
    }
  }
}
