@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Oswald:wght@200..700&display=swap");
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem, main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo h4, main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem::after, main section.service .wrap .bottomBox .serviceItem article::after, main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox::after, main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox h3.iconNumber, header {
  transition: all 0.5s ease-in-out;
}

/*允許你傳入不同的參數來設定容器的 最大寬度、左右內邊距 以及 對齊方式（預設置中）。*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
header .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1180px) {
  header .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header .wrap .logoBox a {
  width: 142px;
}
header .wrap .logoBox a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
header .wrap .navBox ul {
  display: flex;
}
header .wrap .navBox ul li {
  width: 100%;
  list-style: none;
}
header .wrap .navBox ul li a {
  padding: 5vh 2vh;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 1.8px;
}
header .wrap .rightBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .wrap .rightBox .languageBox .defaultBox {
  padding: 5vh 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #f7f7f7;
}
header .wrap .rightBox .languageBox .defaultBox .languageCurrent {
  text-transform: uppercase;
  position: relative;
  margin: 0 20px 0 10px;
  cursor: pointer;
  letter-spacing: 0.9px;
}
header .wrap .rightBox .languageBox .defaultBox .languageCurrent::after {
  content: " |";
  position: absolute;
  margin-left: 10px;
  font-weight: 200;
}
header .wrap .rightBox .languageBox ul.languageList {
  display: none;
  position: absolute;
  background-color: #202020;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  header .wrap .rightBox .languageBox ul.languageList {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .wrap .rightBox .languageBox ul.languageList {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header .wrap .rightBox .languageBox ul.languageList li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}
header .wrap .rightBox .languageBox ul.languageList li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
header .wrap .rightBox .menuBtnBox {
  display: none;
}
header .wrap .rightBox .menuBtnBox .menuBtn {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
header .wrap .rightBox .menuBtnBox .menuBtn .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f7f7f7;
}
@media (max-width: 1275px) {
  header .wrap .navBox {
    display: none;
  }
  header .wrap .rightBox .menuBtnBox {
    display: block;
  }
}
@media (max-width: 460px) {
  header .wrap {
    --h: 30px;
    padding-top: var(--h);
    padding-bottom: var(--h);
  }
  header .wrap .rightBox .languageBox {
    display: none;
  }
}

header.scrolled {
  background-color: #ee7600;
}

.bannerArea {
  position: relative;
}
.bannerArea .bannerSlider .bannerItem {
  position: relative;
}
.bannerArea .bannerSlider .bannerItem img.bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  min-height: 500px;
}
.bannerArea .bannerSlider .bannerItem .textBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  padding-top: 8vh;
  padding-bottom: 20vh;
}
@media (max-width: 1180px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.bannerArea .bannerSlider .bannerItem .textBox h3 {
  font-size: 24px;
  color: #f7f7f7;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-weight: normal;
}
.bannerArea .bannerSlider .bannerItem .textBox div.more {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: #ee7600;
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, transparent 10px, #fff 0);
}
.bannerArea .bannerSlider .bannerItem .textBox div.more p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
}
.bannerArea .bannerSlider .bannerItem .textBox div.more p::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #ee7600;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}
@media (max-width: 430px) {
  .bannerArea .bannerSlider .bannerItem .textBox div.more {
    width: 180px;
    padding: 12px 0;
  }
  .bannerArea .bannerSlider .bannerItem .textBox div.more p {
    font-size: 16px;
  }
  .bannerArea .bannerSlider .bannerItem .textBox div.more p::after {
    content: "";
    position: absolute;
    right: 20px;
  }
}
@media (max-width: 1536px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .bannerArea .bannerSlider .bannerItem .textBox img {
    height: 110px;
  }
  .bannerArea .bannerSlider .bannerItem .textBox h3 {
    font-size: 22px;
  }
}
@media (max-width: 960px) {
  .bannerArea .bannerSlider .bannerItem .textBox img {
    width: 70%;
    height: auto;
  }
}
@media (max-width: 430px) {
  .bannerArea .bannerSlider .bannerItem .textBox h3 {
    font-size: 15px;
  }
}
.bannerArea .bannerSlider .bannerItem .playBox {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: end;
  cursor: pointer;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn p {
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn .circle {
  display: block;
  --cw: 40px;
  width: var(--cw);
  height: var(--cw);
  border-radius: 40px;
  border: solid #fff;
  position: relative;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn .circle::after {
  content: "";
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid #ee7600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 430px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    bottom: 30px;
  }
}
.bannerArea .scrolldownBox {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.bannerArea .scrolldownBox .arrowDown {
  display: block;
  --w: 10px;
  width: var(--w);
  height: var(--w);
  border: solid #f7f7f7;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
@media (max-width: 430px) {
  .bannerArea .scrolldownBox {
    gap: 3px;
  }
  .bannerArea .scrolldownBox img {
    width: 20px;
  }
  .bannerArea .scrolldownBox .arrowDown {
    --w: 8px;
  }
}

main section.factory {
  background-image: url(../img/factoryBg.png);
  background-size: cover;
  background-position: center;
}
main section.factory .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
}
@media (max-width: 1180px) {
  main section.factory .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.factory .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.factory .wrap .topBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: clamp(20px, 5%, 40px);
}
@media (max-width: 1180px) {
  main section.factory .wrap .topBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.factory .wrap .topBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.factory .wrap .topBox h2.titleSize {
  position: relative;
  font-size: 36px;
  color: #ee7600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.8px;
}
main section.factory .wrap .topBox h2.titleSize::before {
  content: "＂";
  position: absolute;
  color: #ee7600;
  font-size: 30px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
main section.factory .wrap .topBox h2.titleSizeSmall {
  font-size: 30px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}
main section.factory .wrap .topBox p {
  padding: 10px 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 27px;
}
@media (max-width: 768px) {
  main section.factory .wrap .topBox h2.titleSize {
    font-size: 28px;
  }
  main section.factory .wrap .topBox h2.titleSizeSmall {
    font-size: 22px;
  }
  main section.factory .wrap .topBox p {
    font-size: 16px;
  }
}
main section.factory .wrap .bottomBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  main section.factory .wrap .bottomBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.factory .wrap .bottomBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.factory .wrap .bottomBox .factoryInfo {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox {
  margin-top: 20px;
  position: relative;
  --w: 184px;
  width: var(--w);
  height: var(--w);
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox h3.iconNumber {
  z-index: 2;
  position: absolute;
  top: calc(var(--h3IconSize) / 2 * -1);
  left: 50%;
  transform: translateX(-50%);
  color: #ee7600;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  --h3IconSize: 60px;
  width: var(--h3IconSize);
  height: var(--h3IconSize);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox::after {
  content: "";
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  border: 5px dotted #ee7600;
  opacity: 0;
  border-radius: 50%;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText {
  text-align: center;
  width: 250px;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 {
  font-size: 20px;
  letter-spacing: 0.4px;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 span {
  color: #ee7600;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText p {
  height: 90px;
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 0.36px;
}
@media (min-width: 1181px) {
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem:hover .iconBox h3.iconNumber {
    color: #f7f7f7;
    background-color: #ee7600;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem:hover .iconBox::after {
    opacity: 1;
  }
}
@media (max-width: 1380px) {
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem {
    width: 100%;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox {
    --w: 140px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 {
    font-size: 16px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText p {
    font-size: 14px;
  }
}
main section.factory .wrap .bottomBox .slick-list {
  width: inherit;
  height: inherit;
}
main section.factory .wrap .bottomBox .slick-list .slick-track {
  height: inherit;
  position: relative;
}
main section.factory .wrap .bottomBox .slick-list .slick-track .slick-slide {
  margin-top: 20px;
}
main section.factory .wrap .bottomBox .slick-list .slick-track .slick-slide:nth-child(odd) {
  height: inherit;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  main section.factory .wrap .bottomBox .slick-list .slick-track .slick-slide:nth-child(odd) {
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  main section.factory .wrap .bottomBox .factoryInfo {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-list {
    width: 100%;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li {
    list-style: none;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: 2px solid #ee7600;
    cursor: pointer;
    font-size: 0;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li.slick-active button {
    background-color: #ee7600;
  }
}
main section.product {
  background-image: url(../img/productBg.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
main section.product .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  /*響應式設計*/
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
  display: flex;
  align-items: end;
  justify-content: space-between;
}
@media (max-width: 1180px) {
  main section.product .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.product .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.product .wrap .leftBox {
  width: clamp(370px, 50%, 50%);
  display: flex;
  flex-direction: column;
}
main section.product .wrap .leftBox .topBox {
  margin-bottom: 30px;
}
main section.product .wrap .leftBox .topBox .titleBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: clamp(20px, 5%, 40px);
  padding: 0;
}
@media (max-width: 1180px) {
  main section.product .wrap .leftBox .topBox .titleBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.product .wrap .leftBox .topBox .titleBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.product .wrap .leftBox .topBox .titleBox h2.titleSize {
  position: relative;
  font-size: 36px;
  color: #ee7600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.8px;
}
main section.product .wrap .leftBox .topBox .titleBox h2.titleSize::before {
  content: "＂";
  position: absolute;
  color: #ee7600;
  font-size: 30px;
  top: -20px;
  left: 0;
}
main section.product .wrap .leftBox .topBox .titleBox h2.titleSizeSmall {
  font-size: 30px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}
main section.product .wrap .leftBox .topBox .titleBox p {
  padding: 10px 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 27px;
}
@media (max-width: 768px) {
  main section.product .wrap .leftBox .topBox .titleBox h2.titleSize {
    font-size: 28px;
  }
  main section.product .wrap .leftBox .topBox .titleBox h2.titleSizeSmall {
    font-size: 22px;
  }
  main section.product .wrap .leftBox .topBox .titleBox p {
    font-size: 16px;
  }
}
main section.product .wrap .leftBox .topBox .titleBox h2.titleSizeSmall,
main section.product .wrap .leftBox .topBox .titleBox p {
  color: #f7f7f7;
  text-align: left;
}
main section.product .wrap .leftBox .topBox .other {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.product .wrap .leftBox .topBox .other div.more {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, transparent 10px, #ee7600 0);
}
main section.product .wrap .leftBox .topBox .other div.more p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
}
main section.product .wrap .leftBox .topBox .other div.more p::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}
@media (max-width: 430px) {
  main section.product .wrap .leftBox .topBox .other div.more {
    width: 180px;
    padding: 12px 0;
  }
  main section.product .wrap .leftBox .topBox .other div.more p {
    font-size: 16px;
  }
  main section.product .wrap .leftBox .topBox .other div.more p::after {
    content: "";
    position: absolute;
    right: 20px;
  }
}
main section.product .wrap .leftBox .topBox .other .slickNumberBox {
  display: flex;
  align-items: end;
  font-family: "Oswald", sans-serif;
}
main section.product .wrap .leftBox .topBox .other .slickNumberBox .currentTxt {
  color: #f7f7f7;
  font-size: 30px;
  letter-spacing: 0.6px;
}
main section.product .wrap .leftBox .topBox .other .slickNumberBox .totalTxt {
  padding-left: 10px;
  color: #4d4d4d;
  font-size: 20px;
  letter-spacing: 0.4px;
}
main section.product .wrap .leftBox .bottomBox {
  width: 100%;
  --ballSamllW: 330px;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball {
  width: var(--ballSamllW);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a {
  width: var(--ballSamllW);
  display: block;
  text-decoration: none;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a figure {
  background-color: white;
  position: relative;
  width: var(--ballSamllW);
  height: var(--ballSamllW);
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a figure i {
  display: block;
  font-style: normal;
  color: #f7f7f7;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  position: relative;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a figure i::before {
  content: "";
  position: absolute;
  content: "";
  width: 120px;
  height: 40px;
  bottom: -10px;
  right: 30px;
  background-color: #ee7600;
  transform: skew(-30deg);
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a figure i::after {
  content: "健身用途";
  position: absolute;
  width: 120px;
  height: 40px;
  bottom: -10px;
  right: 30px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a .ballInfo {
  color: #f7f7f7;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  margin-top: 20px;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a .ballInfo h4 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
main section.product .wrap .leftBox .bottomBox .ballSlider .ball a .ballInfo p {
  padding-top: 5px;
  font-size: 16px;
  letter-spacing: 0.32px;
}
main section.product .wrap .rightBox {
  --ballW: 600px;
  width: 50%;
  padding: 50px;
  margin-left: 50px;
  position: relative;
}
main section.product .wrap .rightBox .ballSliderRight .ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--ballW);
}
main section.product .wrap .rightBox .ballSliderRight .ball a {
  width: var(--ballW);
  display: block;
  text-decoration: none;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure {
  clip-path: polygon(0% 0%, 100% 0, 100% 88%, 88% 100%, 0% 100%);
  background-color: #fff;
  position: relative;
  width: var(--ballW);
  height: var(--ballW);
  overflow: hidden;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure i {
  display: block;
  font-style: normal;
  color: #f7f7f7;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  letter-spacing: 0.32px;
  position: relative;
  top: -90%;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure i::before {
  content: "";
  position: absolute;
  content: "";
  width: 120px;
  height: 40px;
  bottom: -10px;
  right: 30px;
  background-color: #ee7600;
  transform: skew(-30deg);
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure i::after {
  content: "健身用途";
  position: absolute;
  width: 120px;
  height: 40px;
  bottom: -10px;
  right: 30px;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure .ballInfo {
  color: #202020;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 80%;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure .ballInfo h4 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}
main section.product .wrap .rightBox .ballSliderRight .ball a figure .ballInfo p {
  padding-top: 5px;
  font-size: 16px;
  letter-spacing: 0.32px;
}
main section.product .wrap .rightBox::before {
  content: "";
  position: absolute;
  content: "";
  width: calc(var(--ballW) + 50px);
  height: calc(var(--ballW) + 50px);
  background-image: url(../img/ballBg.png);
  background-size: cover;
  background-position: center;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.product .ballSliderBtnBox {
  padding: 0 2vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main section.product .ballSliderBtnBox button {
  background-color: tansparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 60px;
}
main section.product .ballSliderBtnBox .ballSliderPrev::before {
  content: "";
  position: absolute;
  content: "";
  --arrowPrevW: 30px;
  width: var(--arrowPrevW);
  height: var(--arrowPrevW);
  border: solid #f7f7f7;
  border-width: 0 4px 4px 0;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
main section.product .ballSliderBtnBox .ballSliderNext::before {
  content: "";
  position: absolute;
  content: "";
  --arrowNextW: 30px;
  width: var(--arrowNextW);
  height: var(--arrowNextW);
  border: solid #f7f7f7;
  border-width: 0 4px 4px 0;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 1700px) {
  main section.product .wrap {
    justify-content: center;
  }
  main section.product .wrap .rightBox {
    transform: scale(0.8);
    margin-left: 0px;
    padding: 0px;
  }
  main section.product .wrap .rightBox .ballSliderRight {
    padding: 0;
  }
}
@media (max-width: 1560px) {
  main section.product .wrap .leftBox .bottomBox {
    --ballSamllW: 270px;
  }
  main section.product .wrap .rightBox {
    width: 50%;
    transform: scale(0.7);
  }
}
@media (max-width: 1350px) {
  main section.product .wrap {
    padding-bottom: 150px;
  }
  main section.product .wrap .leftBox {
    width: 100%;
  }
  main section.product .wrap .rightBox {
    display: none;
  }
  main section.product .ballSliderBtnBox {
    display: flex;
    gap: 10px;
    width: 200px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main section.product .ballSliderBtnBox button {
    position: relative;
    --sliderBtnWidth: 70px;
    width: var(--sliderBtnWidth);
    height: var(--sliderBtnWidth);
  }
  main section.product .ballSliderBtnBox .ballSliderPrev {
    background-color: #ee7600;
    border: 1px solid #f7f7f7;
  }
  main section.product .ballSliderBtnBox .ballSliderPrev::before {
    content: "";
    position: absolute;
    content: "";
    --arrowPrevW: 10px;
    width: var(--arrowPrevW);
    height: var(--arrowPrevW);
    border: solid #f7f7f7;
    border-width: 0 4px 4px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
  }
  main section.product .ballSliderBtnBox .ballSliderNext {
    background-color: #f7f7f7;
    border: 1px solid #ee7600;
  }
  main section.product .ballSliderBtnBox .ballSliderNext::before {
    content: "";
    position: absolute;
    content: "";
    --arrowNextW: 10px;
    width: var(--arrowNextW);
    height: var(--arrowNextW);
    border: solid #ee7600;
    border-width: 0 4px 4px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@media (max-width: 600px) {
  main section.product .wrap .leftBox .bottomBox {
    --ballSamllW: 300px;
  }
}
main section.service {
  background-image: url(../img/serviceBg.png);
  background-size: cover;
  background-position: center;
}
main section.service .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1180px) {
  main section.service .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.service .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.service .wrap .topBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: clamp(20px, 5%, 40px);
}
@media (max-width: 1180px) {
  main section.service .wrap .topBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.service .wrap .topBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.service .wrap .topBox h2.titleSize {
  position: relative;
  font-size: 36px;
  color: #ee7600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.8px;
}
main section.service .wrap .topBox h2.titleSize::before {
  content: "＂";
  position: absolute;
  color: #ee7600;
  font-size: 30px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
main section.service .wrap .topBox h2.titleSizeSmall {
  font-size: 30px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}
main section.service .wrap .topBox p {
  padding: 10px 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 27px;
}
@media (max-width: 768px) {
  main section.service .wrap .topBox h2.titleSize {
    font-size: 28px;
  }
  main section.service .wrap .topBox h2.titleSizeSmall {
    font-size: 22px;
  }
  main section.service .wrap .topBox p {
    font-size: 16px;
  }
}
main section.service .wrap .bottomBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5%;
}
main section.service .wrap .bottomBox .serviceItem {
  padding: 20px 0;
  width: 460px;
}
main section.service .wrap .bottomBox .serviceItem figure {
  width: 432px;
  height: 260px;
}
main section.service .wrap .bottomBox .serviceItem figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
main section.service .wrap .bottomBox .serviceItem article {
  display: flex;
  align-items: center;
  width: inherit;
  position: relative;
}
main section.service .wrap .bottomBox .serviceItem article::after {
  content: "";
  position: absolute;
  content: "";
  left: 20px;
  width: 90%;
  height: 200px;
  background-color: #f7f7f7;
  transform: skew(-10deg);
  opacity: 0.9;
  z-index: 1;
}
main section.service .wrap .bottomBox .serviceItem article h2.ItemNb {
  color: #ee7600;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-weight: normal;
  z-index: 2;
}
main section.service .wrap .bottomBox .serviceItem article .textBox {
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  z-index: 2;
  padding: 0 20px;
  width: 70%;
}
main section.service .wrap .bottomBox .serviceItem article .textBox h4 {
  font-size: 20px;
  letter-spacing: 0.4px;
}
main section.service .wrap .bottomBox .serviceItem article .textBox p {
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 0.36px;
}
@media (min-width: 1181px) {
  main section.service .wrap .bottomBox .serviceItem:hover article::after {
    content: "";
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 768px) {
  main section.service .wrap .bottomBox {
    flex-direction: column;
  }
  main section.service .wrap .bottomBox .serviceItem {
    width: 320px;
  }
  main section.service .wrap .bottomBox .serviceItem figure {
    width: 320px;
    height: 193.9393939394px;
  }
  main section.service .wrap .bottomBox .serviceItem article::after {
    content: "";
    position: absolute;
    height: 170px;
  }
  main section.service .wrap .bottomBox .serviceItem article h2.ItemNb {
    font-size: 80px;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox {
    width: 80%;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox h4 {
    font-size: 16px;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox p {
    font-size: 14px;
  }
}
main section.service .wrap div.colorChange {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, transparent 10px, #ee7600 0);
}
main section.service .wrap div.colorChange p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
}
main section.service .wrap div.colorChange p::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}
@media (max-width: 430px) {
  main section.service .wrap div.colorChange {
    width: 180px;
    padding: 12px 0;
  }
  main section.service .wrap div.colorChange p {
    font-size: 16px;
  }
  main section.service .wrap div.colorChange p::after {
    content: "";
    position: absolute;
    right: 20px;
  }
}
main section.ballEncyclopedia {
  background-color: #f7f7f7;
}
main section.ballEncyclopedia .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1180px) {
  main section.ballEncyclopedia .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.ballEncyclopedia .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.ballEncyclopedia .wrap .leftBox {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.ballEncyclopedia .wrap .leftBox .topBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: clamp(20px, 5%, 40px);
  margin: 0;
}
@media (max-width: 1180px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize {
  position: relative;
  font-size: 36px;
  color: #ee7600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.8px;
}
main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize::before {
  content: "＂";
  position: absolute;
  color: #ee7600;
  font-size: 30px;
  top: -20px;
  left: 0;
}
main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSizeSmall {
  font-size: 30px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}
main section.ballEncyclopedia .wrap .leftBox .topBox p {
  padding: 10px 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 27px;
}
@media (max-width: 768px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize {
    font-size: 28px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSizeSmall {
    font-size: 22px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox p {
    font-size: 16px;
  }
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox {
  display: flex;
  gap: 10px;
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox button {
  position: relative;
  --sliderBtnWidth: 70px;
  width: var(--sliderBtnWidth);
  height: var(--sliderBtnWidth);
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox .sliderPrev {
  background-color: #f7f7f7;
  border: 1px solid #ee7600;
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox .sliderPrev::before {
  content: "";
  position: absolute;
  content: "";
  --arrowPrevW: 10px;
  width: var(--arrowPrevW);
  height: var(--arrowPrevW);
  border: solid #ee7600;
  border-width: 0 4px 4px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox .sliderNext {
  background-color: #ee7600;
  border: 1px solid #f7f7f7;
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox .sliderNext::before {
  content: "";
  position: absolute;
  content: "";
  --arrowNextW: 10px;
  width: var(--arrowNextW);
  height: var(--arrowNextW);
  border: solid #f7f7f7;
  border-width: 0 4px 4px 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, transparent 10px, #ee7600 0);
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
}
main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more p::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}
@media (max-width: 430px) {
  main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more {
    width: 180px;
    padding: 12px 0;
  }
  main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more p {
    font-size: 16px;
  }
  main section.ballEncyclopedia .wrap .leftBox .bottomBox div.more p::after {
    content: "";
    position: absolute;
    right: 20px;
  }
}
main section.ballEncyclopedia .wrap .rightBox {
  width: 850px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(20px, 5%, 40px);
  background-color: #f7f7f7;
  padding: 40px;
  position: relative;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem::after {
  content: "";
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-bottom: #b5b5b5 3px solid;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox {
  display: flex;
  gap: 10px;
  font-family: "Oswald", sans-serif;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h2 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h5 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.32px;
  position: relative;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h5::after {
  content: "";
  position: absolute;
  content: "";
  width: 120%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #202020;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle i.newTag {
  display: block;
  font-style: normal;
  background-color: #ededed;
  padding: 8px 15px;
  color: #4d4d4d;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo {
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  width: 100%;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo h4 {
  color: #202020;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 5px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo p {
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 0.36px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .arrowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .arrowBox .arrowR {
  display: block;
  --arrowRW: 12px;
  width: var(--arrowRW);
  height: var(--arrowRW);
  border: solid #ee7600;
  border-width: 0 4px 4px 0;
  transform: rotate(-45deg);
}
@media (min-width: 1181px) {
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem:hover::after {
    content: "";
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem:hover .newContent .newInfo h4 {
    color: #ee7600;
  }
}
@media (max-width: 1300px) {
  main section.ballEncyclopedia .wrap .rightBox {
    width: 700px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h2 {
    font-size: 28px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h5 {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle i.newTag {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo h4 {
    font-size: 24px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo p {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  main section.ballEncyclopedia .wrap {
    justify-content: center;
  }
  main section.ballEncyclopedia .wrap .leftBox {
    justify-content: center;
    height: 400px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox {
    /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
    /*主要樣式設定*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    /*響應式設計*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: clamp(20px, 5%, 40px);
  }
}
@media (max-width: 1150px) and (max-width: 1180px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 1150px) and (max-width: 768px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1150px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize {
    position: relative;
    font-size: 36px;
    color: #ee7600;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.8px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize::before {
    content: "＂";
    position: absolute;
    color: #ee7600;
    font-size: 30px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSizeSmall {
    font-size: 30px;
    color: #202020;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.6px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox p {
    padding: 10px 0;
    color: #4d4d4d;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.36px;
    line-height: 27px;
  }
}
@media (max-width: 1150px) and (max-width: 768px) {
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSize {
    font-size: 28px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox h2.titleSizeSmall {
    font-size: 22px;
  }
  main section.ballEncyclopedia .wrap .leftBox .topBox p {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  main section.ballEncyclopedia .wrap .leftBox .bottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main section.ballEncyclopedia .wrap .leftBox .bottomBox .sliderBtnBox {
    order: 1;
    margin-top: 20px;
  }
  main section.ballEncyclopedia .wrap .rightBox {
    width: 700px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h2 {
    font-size: 28px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h5 {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle i.newTag {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo h4 {
    font-size: 24px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo p {
    font-size: 16px;
  }
}
@media (max-width: 710px) {
  main section.ballEncyclopedia .wrap {
    gap: 20px;
  }
  main section.ballEncyclopedia .wrap .rightBox {
    width: 100%;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h2 {
    font-size: 22px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle .newDateBox h5 {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newTitle i.newTag {
    font-size: 14px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo h4 {
    font-size: 20px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .newContent .newInfo p {
    font-size: 16px;
  }
  main section.ballEncyclopedia .wrap .rightBox .newSlider .slick-list .slick-track .newItem .arrowBox {
    display: none;
  }
}

footer {
  width: 100%;
  background-color: #ee7600;
  color: #f7f7f7;
}
footer .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
}
@media (max-width: 1180px) {
  footer .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  footer .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
footer .wrap .footerLogo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
footer .wrap .footerNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}
footer .wrap .footerNav ul li {
  list-style: none;
}
footer .wrap .footerNav ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  padding: 0 5px;
}
footer .wrap .footerNav ul li a::after {
  content: " |";
  position: absolute;
  margin-left: 1.5vw;
}
footer .wrap .footerNav ul li:last-child a::after {
  content: "";
}
footer .wrap .footerInfo ul {
  display: flex;
  gap: 3vw;
}
footer .wrap .footerInfo ul li {
  list-style: none;
}
footer .wrap .footerInfo ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 0.9px;
}
footer .wrap .footerInfo ul li a label {
  font-family: "Oswald", sans-serif;
}
@media (max-width: 1100px) {
  footer .wrap .footerInfo ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
footer .wrap .footerSocial ul {
  display: flex;
  gap: 20px;
}
footer .wrap .footerSocial ul li {
  list-style: none;
}
footer .wrap .footerSocial ul li a {
  text-decoration: none;
  color: #ee7600;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f7f7f7;
}
footer .wrap .footerCopyright {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #f7f7f7;
  letter-spacing: 0.9px;
}
footer .wrap .footerCopyright a {
  text-decoration: none;
  color: #f7f7f7;
}/*# sourceMappingURL=styles.css.map */