@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Oswald:wght@200..700&display=swap");
main section.service .wrap .bottomBox .serviceItem article::after, main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox::after, main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox h3.iconNumber, header {
  transition: all 0.5s ease-in-out;
}

/*允許你傳入不同的參數來設定容器的 最大寬度、左右內邊距 以及 對齊方式（預設置中）。*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
header .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1180px) {
  header .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header .wrap .logoBox a {
  width: 142px;
}
header .wrap .logoBox a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
header .wrap .navBox ul {
  display: flex;
  gap: 2vw;
}
header .wrap .navBox ul li {
  list-style: none;
}
header .wrap .navBox ul li a {
  padding: 6vh 0;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 1.8px;
}
header .wrap .rightBox {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .wrap .rightBox .languageBox .defaultBox {
  padding: 6vh 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #f7f7f7;
}
header .wrap .rightBox .languageBox .defaultBox .languageCurrent {
  text-transform: uppercase;
  position: relative;
  margin: 0 20px 0 10px;
  cursor: pointer;
  letter-spacing: 0.9px;
}
header .wrap .rightBox .languageBox .defaultBox .languageCurrent::after {
  content: " |";
  position: absolute;
  margin-left: 10px;
  font-weight: 200;
}
header .wrap .rightBox .languageBox ul.languageList {
  display: none;
  position: absolute;
  background-color: #202020;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  header .wrap .rightBox .languageBox ul.languageList {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  header .wrap .rightBox .languageBox ul.languageList {
    padding-left: 20px;
    padding-right: 20px;
  }
}
header .wrap .rightBox .languageBox ul.languageList li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
}
header .wrap .rightBox .languageBox ul.languageList li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}
header .wrap .rightBox .menuBtnBox {
  display: none;
}
header .wrap .rightBox .menuBtnBox .menuBtn {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
header .wrap .rightBox .menuBtnBox .menuBtn .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f7f7f7;
}
@media (max-width: 1200px) {
  header .wrap .navBox {
    display: none;
  }
  header .wrap .rightBox .menuBtnBox {
    display: block;
  }
}
@media (max-width: 460px) {
  header .wrap {
    --h: 30px;
    padding-top: var(--h);
    padding-bottom: var(--h);
  }
  header .wrap .rightBox .languageBox {
    display: none;
  }
}

header.scrolled {
  background-color: #ee7600;
}

div.more {
  width: 275px;
  padding: 20px 0;
  margin-top: 1.5rem;
  color: #ee7600;
  cursor: pointer;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, transparent 10px, #fff 0);
}
div.more p {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  position: relative;
}
div.more p::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #ee7600;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}

div.colorChange {
  color: #fff;
  background: linear-gradient(135deg, transparent 10px, #ee7600 0);
}
div.colorChange::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
  right: 40px;
}

.bannerArea {
  position: relative;
}
.bannerArea .bannerSlider .bannerItem {
  position: relative;
}
.bannerArea .bannerSlider .bannerItem img.bg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  min-height: 500px;
}
.bannerArea .bannerSlider .bannerItem .textBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  padding-top: 8vh;
  padding-bottom: 20vh;
}
@media (max-width: 1180px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.bannerArea .bannerSlider .bannerItem .textBox h3 {
  font-size: 24px;
  color: #f7f7f7;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  font-weight: normal;
}
@media (max-width: 1536px) {
  .bannerArea .bannerSlider .bannerItem .textBox {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .bannerArea .bannerSlider .bannerItem .textBox img {
    height: 110px;
  }
  .bannerArea .bannerSlider .bannerItem .textBox h3 {
    font-size: 22px;
  }
}
@media (max-width: 960px) {
  .bannerArea .bannerSlider .bannerItem .textBox img {
    width: 70%;
    height: auto;
  }
}
@media (max-width: 430px) {
  .bannerArea .bannerSlider .bannerItem .textBox h3 {
    font-size: 15px;
  }
  .bannerArea .bannerSlider .bannerItem .textBox div.more {
    width: 180px;
    padding: 12px 0;
  }
  .bannerArea .bannerSlider .bannerItem .textBox div.more p {
    font-size: 16px;
  }
  .bannerArea .bannerSlider .bannerItem .textBox div.more p::after {
    content: "";
    position: absolute;
    right: 20px;
  }
}
.bannerArea .bannerSlider .bannerItem .playBox {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: end;
  cursor: pointer;
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn {
  display: flex;
  align-items: center;
  gap: 15px;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn p {
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn .circle {
  display: block;
  --cw: 40px;
  width: var(--cw);
  height: var(--cw);
  border-radius: 40px;
  border: solid #fff;
  position: relative;
}
.bannerArea .bannerSlider .bannerItem .playBox .playBtn .circle::after {
  content: "";
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid #ee7600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 430px) {
  .bannerArea .bannerSlider .bannerItem .playBox {
    bottom: 30px;
  }
}
.bannerArea .scrolldownBox {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.bannerArea .scrolldownBox .arrowDown {
  display: block;
  --w: 10px;
  width: var(--w);
  height: var(--w);
  border: solid #f7f7f7;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
@media (max-width: 430px) {
  .bannerArea .scrolldownBox {
    gap: 3px;
  }
  .bannerArea .scrolldownBox img {
    width: 20px;
  }
  .bannerArea .scrolldownBox .arrowDown {
    --w: 8px;
  }
}

section .wrap .titleBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 5%;
}
@media (max-width: 1180px) {
  section .wrap .titleBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  section .wrap .titleBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
section .wrap .titleBox h2.titleSize {
  position: relative;
  font-size: 36px;
  color: #ee7600;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.8px;
}
section .wrap .titleBox h2.titleSize::before {
  content: "＂";
  position: absolute;
  color: #ee7600;
  font-size: 30px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
section .wrap .titleBox h2.titleSizeSmall {
  font-size: 30px;
  color: #202020;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}
section .wrap .titleBox p {
  padding: 10px 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.36px;
  line-height: 27px;
}
@media (max-width: 768px) {
  section .wrap .titleBox h2.titleSize {
    font-size: 28px;
  }
  section .wrap .titleBox h2.titleSizeSmall {
    font-size: 22px;
  }
  section .wrap .titleBox p {
    font-size: 16px;
  }
}

section .wrap {
  --sectionPaddingTB: clamp(50px, 5%, 10%);
  padding-top: var(--sectionPaddingTB);
  padding-bottom: var(--sectionPaddingTB);
}

main section.factory {
  background-image: url(../img/factoryBg.png);
  background-size: cover;
  background-position: center;
}
main section.factory .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  main section.factory .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.factory .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.factory .wrap .bottomBox {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  /*響應式設計*/
}
@media (max-width: 1180px) {
  main section.factory .wrap .bottomBox {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.factory .wrap .bottomBox {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.factory .wrap .bottomBox .factoryInfo {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox {
  margin-top: 20px;
  position: relative;
  --w: 184px;
  width: var(--w);
  height: var(--w);
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #4d4d4d;
  z-index: 1;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox h3.iconNumber {
  z-index: 2;
  position: absolute;
  top: calc(var(--h3IconSize) / 2 * -1);
  left: 50%;
  transform: translateX(-50%);
  color: #ee7600;
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  --h3IconSize: 60px;
  width: var(--h3IconSize);
  height: var(--h3IconSize);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox::after {
  content: "";
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  border: 5px dotted #ee7600;
  opacity: 0;
  border-radius: 50%;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText {
  text-align: center;
  width: 250px;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 {
  font-size: 20px;
  letter-spacing: 0.4px;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 span {
  color: #ee7600;
}
main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText p {
  height: 90px;
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 0.36px;
}
@media (min-width: 1181px) {
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem:hover .iconBox h3.iconNumber {
    color: #f7f7f7;
    background-color: #ee7600;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem:hover .iconBox::after {
    opacity: 1;
  }
}
@media (max-width: 1380px) {
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem {
    width: 100%;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .iconBox {
    --w: 140px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText h4 {
    font-size: 16px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .factoryItem .itemText p {
    font-size: 14px;
  }
}
main section.factory .wrap .bottomBox .slick-list {
  width: inherit;
  height: inherit;
}
main section.factory .wrap .bottomBox .slick-list .slick-track {
  height: inherit;
  position: relative;
}
main section.factory .wrap .bottomBox .slick-list .slick-track .slick-slide:nth-child(odd) {
  height: inherit;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  main section.factory .wrap .bottomBox .slick-list .slick-track .slick-slide:nth-child(odd) {
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  main section.factory .wrap .bottomBox .factoryInfo {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-list {
    width: 100%;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li {
    list-style: none;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f7f7f7;
    border: 2px solid #ee7600;
    cursor: pointer;
    font-size: 0;
  }
  main section.factory .wrap .bottomBox .factoryInfo .slick-dots li.slick-active button {
    background-color: #ee7600;
  }
}
main section.product {
  background-image: url(../img/productBg.png);
  background-size: cover;
  background-position: center;
}
main section.product .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (max-width: 1180px) {
  main section.product .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.product .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.service {
  background-image: url(../img/serviceBg.png);
  background-size: cover;
  background-position: center;
}
main section.service .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1180px) {
  main section.service .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.service .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
main section.service .wrap .bottomBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5%;
}
main section.service .wrap .bottomBox .serviceItem {
  padding: 20px 0;
  width: 460px;
}
main section.service .wrap .bottomBox .serviceItem figure {
  width: 432px;
  height: 260px;
}
main section.service .wrap .bottomBox .serviceItem figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
main section.service .wrap .bottomBox .serviceItem article {
  display: flex;
  align-items: center;
  width: inherit;
  position: relative;
}
main section.service .wrap .bottomBox .serviceItem article::after {
  content: "";
  position: absolute;
  content: "";
  left: 20px;
  width: 90%;
  height: 200px;
  background-color: #f7f7f7;
  transform: skew(-10deg);
  opacity: 0.9;
  z-index: 1;
}
main section.service .wrap .bottomBox .serviceItem article h2.ItemNb {
  color: #ee7600;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-weight: normal;
  z-index: 2;
}
main section.service .wrap .bottomBox .serviceItem article .textBox {
  font-family: Arial, "Noto Sans TC", "Microsoft JhengHei", sans-serif;
  z-index: 2;
  padding: 0 20px;
  width: 70%;
}
main section.service .wrap .bottomBox .serviceItem article .textBox h4 {
  font-size: 20px;
  letter-spacing: 0.4px;
}
main section.service .wrap .bottomBox .serviceItem article .textBox p {
  color: #4d4d4d;
  font-size: 18px;
  letter-spacing: 0.36px;
}
@media (min-width: 1181px) {
  main section.service .wrap .bottomBox .serviceItem:hover article::after {
    content: "";
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 768px) {
  main section.service .wrap .bottomBox {
    flex-direction: column;
  }
  main section.service .wrap .bottomBox .serviceItem {
    width: 320px;
  }
  main section.service .wrap .bottomBox .serviceItem figure {
    width: 320px;
    height: 193.9393939394px;
  }
  main section.service .wrap .bottomBox .serviceItem article::after {
    content: "";
    position: absolute;
    height: 170px;
  }
  main section.service .wrap .bottomBox .serviceItem article h2.ItemNb {
    font-size: 80px;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox {
    width: 80%;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox h4 {
    font-size: 16px;
  }
  main section.service .wrap .bottomBox .serviceItem article .textBox p {
    font-size: 14px;
  }
}
main section.ballEncyclopedia {
  background-color: #f7f7f7;
}
main section.ballEncyclopedia .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (max-width: 1180px) {
  main section.ballEncyclopedia .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  main section.ballEncyclopedia .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer {
  width: 100%;
  background-color: #ee7600;
  color: #f7f7f7;
}
footer .wrap {
  /*這段程式碼決定 margin，讓內容根據 $position 對齊左側、中間或右側：*/
  /*主要樣式設定*/
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  /*響應式設計*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
}
@media (max-width: 1180px) {
  footer .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  footer .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
footer .wrap .footerLogo img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}
footer .wrap .footerNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
}
footer .wrap .footerNav ul li {
  list-style: none;
}
footer .wrap .footerNav ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  padding: 0 5px;
}
footer .wrap .footerNav ul li a::after {
  content: " |";
  position: absolute;
  margin-left: 1.5vw;
}
footer .wrap .footerNav ul li:last-child a::after {
  content: "";
}
footer .wrap .footerInfo ul {
  display: flex;
  gap: 3vw;
}
footer .wrap .footerInfo ul li {
  list-style: none;
}
footer .wrap .footerInfo ul li a {
  text-decoration: none;
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 0.9px;
}
footer .wrap .footerInfo ul li a label {
  font-family: "Oswald", sans-serif;
}
@media (max-width: 1100px) {
  footer .wrap .footerInfo ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
footer .wrap .footerSocial ul {
  display: flex;
  gap: 20px;
}
footer .wrap .footerSocial ul li {
  list-style: none;
}
footer .wrap .footerSocial ul li a {
  text-decoration: none;
  color: #ee7600;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f7f7f7;
}
footer .wrap .footerCopyright {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #f7f7f7;
  letter-spacing: 0.9px;
}
footer .wrap .footerCopyright a {
  text-decoration: none;
  color: #f7f7f7;
}/*# sourceMappingURL=styles.css.map */